<h2 [translate]="'COMMENTS'"></h2>

<div *ngIf="(comments|async)?.length" class="columns">
  <div class="column col-12" *ngFor="let comment of comments | async">
    <div class="tile">
      <div  class="tile-icon">
        <figure class="avatar avatar-lg">
          <img *ngIf="comment.user?.photoURL" [src]="comment.user.photoURL">
          <i *ngIf="!comment.user?.photoURL" style="margin: 14px" class="icon icon-people"></i>
        </figure>
      </div>
      <div class="tile-content">
        <div class="tile-title">{{ comment.user.displayName}}</div>
        <div class="tile-subtitle">{{comment.text}}</div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!(comments|async)?.length"
     [translate]="'BLOG.NO_COMMENTS_YET'">
</div>

<form *ngIf="authService.isLoggedIn"
      [formGroup]="commentForm"
      (submit)="addComment()"
      novalidate>
  <!-- form textarea control -->
  <div class="form-group">
    <label class="form-label"
           [translate]="'BLOG.COMMENT'"
           for="text">
    </label>
    <textarea class="form-input" formControlName="text" id="text" placeholder="" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary"
            [disabled]="commentForm.invalid"
            [translate]="'SUBMIT'"
            type="submit">
    </button>
  </div>
</form>
